## DASK

In [1]:
import dask 
import dask.dataframe as dd
import dask.array as da

In [2]:
df = dd.read_csv('BF_train.csv')

In [3]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

## Data Exploration

In [4]:
df.isnull().sum().compute()/(len(df))

User_ID                       0.000000
Product_ID                    0.000000
Gender                        0.000000
Age                           0.000000
Occupation                    0.000000
City_Category                 0.000000
Stay_In_Current_City_Years    0.000000
Marital_Status                0.000000
Product_Category_1            0.000000
Product_Category_2            0.315666
Product_Category_3            0.696727
Purchase                      0.000000
dtype: float64

In [5]:
df.describe().compute()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,5.500680e+05,550068.000000,550068.000000,550068.000000,376430.000000,166821.000000,550068.000000
mean,1.003029e+06,8.076707,0.409653,5.404270,9.842329,12.668243,9263.968713
std,1.727592e+03,6.522660,0.491770,3.936211,5.086590,4.125338,5023.065394
min,1.000001e+06,0.000000,0.000000,1.000000,2.000000,3.000000,12.000000
25%,1.001516e+06,2.000000,0.000000,1.000000,5.000000,9.000000,5823.000000
50%,1.003077e+06,7.000000,0.000000,5.000000,9.000000,14.000000,8047.000000
75%,1.004478e+06,14.000000,1.000000,8.000000,15.000000,16.000000,12054.000000
max,1.006040e+06,20.000000,1.000000,20.000000,18.000000,18.000000,23961.000000

In [6]:
df.dtypes

User_ID                         int64
Product_ID                     object
Gender                         object
Age                            object
Occupation                      int64
City_Category                  object
Stay_In_Current_City_Years     object
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
Purchase                        int64
dtype: object

In [7]:
len(df), len(df.columns)

(550068, 12)

In [8]:
df = df.drop(['Product_ID'], axis=1)

## Data Preprocessing

In [9]:
df = dd.get_dummies(df.categorize()).compute()

In [10]:
df.head()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,Gender_F,Gender_M,Age_0-17,...,Age_36-45,Age_18-25,City_Category_A,City_Category_C,City_Category_B,Stay_In_Current_City_Years_2,Stay_In_Current_City_Years_4+,Stay_In_Current_City_Years_3,Stay_In_Current_City_Years_1,Stay_In_Current_City_Years_0
0,1000001,10,0,3,NaN,NaN,8370,1,0,1,...,0,0,1,0,0,1,0,0,0,0
1,1000001,10,0,1,6.0,14.0,15200,1,0,1,...,0,0,1,0,0,1,0,0,0,0
2,1000001,10,0,12,NaN,NaN,1422,1,0,1,...,0,0,1,0,0,1,0,0,0,0
3,1000001,10,0,12,14.0,NaN,1057,1,0,1,...,0,0,1,0,0,1,0,0,0,0
4,1000002,16,0,8,NaN,NaN,7969,0,1,0,...,0,0,0,1,0,0,1,0,0,0

In [11]:
df = df.fillna(value=0)

In [12]:
x = df[['Occupation', 'Marital_Status', 'Product_Category_1','Gender_F','Product_Category_2', 'Product_Category_3',
        'Gender_M', 'Age_0-17', 'Age_55+', 'Age_26-35', 'Age_46-50', 'Age_51-55', 'Age_36-45', 'Age_18-25', 
        'City_Category_A','City_Category_C', 'City_Category_B', 'Stay_In_Current_City_Years_2',
        'Stay_In_Current_City_Years_4+', 'Stay_In_Current_City_Years_3','Stay_In_Current_City_Years_1', 
        'Stay_In_Current_City_Years_0']]
y = df['Purchase']

In [ ]:
!pip uninstall scikit-learn
!pip install -y scikit-learn==0.20

In [13]:
import nltk
import sklearn

print('The nltk version is {}.'.format(nltk.__version__))
print('The scikit-learn version is {}.'.format(sklearn.__version__))

The nltk version is 3.4.5.
The scikit-learn version is 0.20.0.

In [14]:
from dask_ml.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(x, y, random_state=1)

Mixture of types in 'arrays'. Falling back to scikit-learn.

In [16]:
len(X_train), len(X_test), len(y_train), len(y_test)

(495061, 55007, 495061, 55007)

### Dask LR

In [17]:
training_x = X_train.values
training_y = y_train.values

In [18]:
testing_x = X_test.values
testing_y = y_test.values

In [19]:
import numpy as np
from sklearn.metrics import mean_squared_error

In [20]:
def rmse(preds, actuals):
    error = mean_squared_error(actuals, preds)
    rmse = np.sqrt(error)
    print(rmse)

In [21]:
from dask_ml.linear_model import LinearRegression
lr = LinearRegression(random_state=1, n_jobs=-1)
lr.fit(training_x,training_y)

LinearRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
         intercept_scaling=1.0, max_iter=100, multiclass='ovr', n_jobs=-1,
         penalty='l2', random_state=1, solver='admm', solver_kwargs=None,
         tol=0.0001, verbose=0, warm_start=False)

In [22]:
preds= lr.predict(training_x)
rmse(preds, training_y)

4624.266265525379

In [23]:
preds_test= lr.predict(testing_x)
rmse(preds_test, testing_y)

4624.036261865467

## Dask LR with trips

In [24]:
import s3fs
import dask.dataframe as dd
import boto3
import dask.distributed
df = dd.read_csv(
    's3://nyc-tlc/trip data/green_tripdata_2018-02.csv', storage_options={'anon': True},
    parse_dates=['lpep_pickup_datetime', 'lpep_dropoff_datetime'],
).sample(frac=0.1, replace=True)

In [25]:
df.dtypes

VendorID                          int64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                        int64
PULocationID                      int64
DOLocationID                      int64
passenger_count                   int64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                      int64
trip_type                         int64
dtype: object

In [26]:
df['trip_duration'] = df['lpep_dropoff_datetime'] - df['lpep_pickup_datetime']

In [27]:
import numpy as np
df['trip_duration'] = df['trip_duration']/np.timedelta64(1,'D')

In [28]:
df['trip_duration'] = df['trip_duration'] * 24

In [29]:
df['trip_duration'].compute()

92141     0.001111
152263    0.375833
173413    0.140833
559731    0.435278
383967    0.069722
            ...
23954     0.190833
23632     0.170833
34393     0.353056
5813      0.325000
28807     0.126111
Name: trip_duration, Length: 76994, dtype: float64

In [36]:
df.dtypes

VendorID                          int64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                        int64
PULocationID                      int64
DOLocationID                      int64
passenger_count                   int64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                      int64
trip_type                         int64
trip_duration                   float64
dtype: object

In [30]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,trip_duration
92141,2,2018-02-03 23:09:45,2018-02-03 23:09:49,N,5,7,7,1,0.00,6.0,0.0,0.0,1.8,0.0,NaN,0.0,7.8,1,2,0.001111
152263,2,2018-02-06 12:01:45,2018-02-06 12:24:18,N,1,75,247,2,4.04,17.5,0.0,0.5,0.0,0.0,NaN,0.3,18.3,2,1,0.375833
173413,1,2018-02-07 08:40:50,2018-02-07 08:49:17,N,1,95,82,1,1.10,7.5,0.0,0.5,0.0,0.0,NaN,0.3,8.3,2,1,0.140833
559731,2,2018-02-21 12:54:57,2018-02-21 13:21:04,N,1,76,77,1,3.22,18.5,0.0,0.5,0.0,0.0,NaN,0.3,19.3,1,1,0.435278
383967,2,2018-02-14 19:49:38,2018-02-14 19:53:49,N,1,41,42,4,0.74,5.0,1.0,0.5,0.0,0.0,NaN,0.3,6.8,1,1,0.069722

In [46]:
df = df.fillna(value=0)

In [51]:
df = dd.get_dummies(df.categorize()).compute()

In [56]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,...,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,trip_duration,store_and_fwd_flag_N,store_and_fwd_flag_Y
92141,2,2018-02-03 23:09:45,2018-02-03 23:09:49,5,7,7,1,0.00,6.0,0.0,...,1.8,0.0,0.0,0.0,7.8,1,2,0.001111,1,0
152263,2,2018-02-06 12:01:45,2018-02-06 12:24:18,1,75,247,2,4.04,17.5,0.0,...,0.0,0.0,0.0,0.3,18.3,2,1,0.375833,1,0
173413,1,2018-02-07 08:40:50,2018-02-07 08:49:17,1,95,82,1,1.10,7.5,0.0,...,0.0,0.0,0.0,0.3,8.3,2,1,0.140833,1,0
559731,2,2018-02-21 12:54:57,2018-02-21 13:21:04,1,76,77,1,3.22,18.5,0.0,...,0.0,0.0,0.0,0.3,19.3,1,1,0.435278,1,0
383967,2,2018-02-14 19:49:38,2018-02-14 19:53:49,1,41,42,4,0.74,5.0,1.0,...,0.0,0.0,0.0,0.3,6.8,1,1,0.069722,1,0

In [52]:
x = df[['VendorID','RatecodeID','PULocationID','DOLocationID','passenger_count','trip_distance','fare_amount','total_amount']]

In [53]:
y = df['trip_duration']

In [54]:
from dask_ml.model_selection import train_test_split

In [55]:
X_train, X_test, y_train, y_test = train_test_split(x, y, random_state=1)

Mixture of types in 'arrays'. Falling back to scikit-learn.

In [57]:
len(X_train), len(X_test), len(y_train), len(y_test)

(69294, 7700, 69294, 7700)

In [58]:
training_x = X_train.values
training_y = y_train.values

In [59]:
testing_x = X_test.values
testing_y = y_test.values

In [60]:
import numpy as np
from sklearn.metrics import mean_squared_error

In [61]:
def rmse(preds, actuals):
    error = mean_squared_error(actuals, preds)
    rmse = np.sqrt(error)
    print(rmse)

In [62]:
lr = LinearRegression(random_state=1, n_jobs=-1, fit_intercept=False)
lr.fit(training_x,training_y)

LinearRegression(C=1.0, class_weight=None, dual=False, fit_intercept=False,
         intercept_scaling=1.0, max_iter=100, multiclass='ovr', n_jobs=-1,
         penalty='l2', random_state=1, solver='admm', solver_kwargs=None,
         tol=0.0001, verbose=0, warm_start=False)

In [63]:
preds= lr.predict(training_x)
rmse(preds, training_y)

1.4755013709497784